# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

.*.sw?

x64/
x86/
Release/
Debug/
pg_sysdatetime.opensdf
pg_sysdatetime.sdf
pg_sysdatetime.v11.suo
pg_sysdatetime.vcxproj.filters
